<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="warn" onMatch="accept" onMismatch="neutral"/>
                <ThresholdFilter level="info" onMatch="accept" onMismatch="neutral"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-4p %c{4.} - %msg%n"/>
        </Console>
        <File name="File" fileName="errors.log">
            <ThresholdFilter level="error" onMatch="accept" onMismatch="deny"/>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>